<html>
<head>
  <title>The Wall</title>
</head>
<body>
  <h1>CodingDojo Wall</h1>
  {% with message_list = get_flashed_messages() %}
    {% if message_list %}
      <ul class="error-messaging">
      {% for message in message_list %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <h2>Register here</h2>
  <h3>(If new user)</h2>
  <form action="/register" method="POST">
    <label for="first_name">First Name</label>
    <input type="text" name="firstName">
    <label for="last_name">Last Name</label>
    <input type="text" name="lastName">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <label for="confirm_password">Confirm Password</label>
    <input type="password" name="confirmPassword">
    <button>Submit</button>
  </form>
  <h2>Login here</h2>
  <form action="/login" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="text" name="password">
    <button>Login</button>
  </form>
</body>
</html>
