<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Wall</title>
</head>
<body>
  <h1>The Wall</h1>
  {% with message_list = get_flashed_messages() %}
    {% if message_list %}
      <ul class="error-messaging">
      {% for message in message_list %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {{ all_messages }}
  <form action='/wall' method="POST">
    <label for="message">Post a message<input type="text" name="message" id="message"></label>
    <button>Post a message</button>
  </form>
  <form action='/wall' method="POST">
    <label for="comment">Post a comment<input type="text" name="comment" id="comment"></label>
    <button>Post a comment</button>
  </form>
</body>
</html>
