<html>
<head>
  <title>The Wall</title>
</head>
<body>
  <h1>The Wall</h1>
  {% with message_list = get_flashed_messages() %}
    {% if message_list %}
      <ul class="error-messaging">
      {% for message in message_list %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form action='/wall' method='POST'>
    <label for="comment">Post a comment<input type="text" name="comment" id="comment"></label>
    <button>Post a comment</button>
  </form>
</body>
</html>
