<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Wall</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <h1>The Wall</h1>
  <h4>Welcome, {{ session['name'] }}
  <p><a href='/logout'>Logout</a></p>
  <form action='/message' method="POST">
    <label for="message">Post a Message<textarea name="message"></textarea>
    <button>Post a Message</button>
  </form>

  {% for message in messages %}
    <div class="message">
      <p><h3>{{ message['name'] }}  {{ message['created_at'].strftime('%B %d %Y') }}</h3></p>
      <p>{{ message['message'] }}</p>
      <div class="comments">
        {% for comment in message['comments'] %}
          <div class="comment">
              <h4>{{ comment['name'] }}</h4>
              <p>{{ message['created_at'].strftime('%B %d %Y') }}</p>
              <p>{{ comment ['comment'] }}</p>
          </div>
        {% endfor %}
      </div>
    <form action='/comment/{{ message['id'] }}' method="POST">
      <label for="comment">Post a comment<textarea name="comment"></textarea>
      <button>Post a Comment</button>
    </form>
  </div>
{% endfor %}
</body>
</html>
